<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lojinha Infinity</h1>
    <ul>
        {% for item in produtos %}
            {% if item.estoque > 0 %}
                <li>Nome: {{item.name}}</li>
                <li>Descrição: {{item.descricao}}</li>
                <li>Preço: {{item.preco}}</li>
                <li>Estoque: {{item.estoque}}</li>
                <br>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>