<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
    <div>
        {% for produto in produtos %}
            <div>
                <ul>
                    <li>{{ produto.nome }}</li>
                    <li>{{ produto.preco }}</li>
                    <li>{{ produto.descricao }}</li>
                    <li>{{ produto.estoque }}</li>
                    <li>{{ produto.data_criacao }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</body>
</html>